/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */

:root {
  --bg-color--dark: #0b192f;
  --bg-color--medium: #162b4d;
  --text--color: #484848;
  --link: #fff;
  --link--hover: #b8b8b8;
}

body {
  font-family: roboto;
}

.post-1 {
	background: #F3D250;
}
.post-2 {
	background: #8D8741;
}
.post-3 {
	background: #659DBD;
}
.post-4 {
	background: #DAAD86;
}

/* Your styles go here */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color--dark);
    margin: 0;
    box-sizing: border-box;
    font-weight: lighter;
    color: var(--text--color);
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    display: block;
    width: 100%;
    height: 100%;
}

main {
    margin-top: 2em;
}

h1, h2 {
    font-weight: normal;
}

.layout {
    margin: 0 2%;
}

.main-header {
    padding: 0 1em;
    height: 5em;
    background-color: var(--bg-color--medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__logo {
    font-size: 3em;
    color: #fafafa;
    font-weight: lighter;
}

.main-header__logo span{
    color: darkred;
}

.nav {
    height: 100%;
    display: flex;
}

.nav__links {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav__links>li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    transition: all 0.2s ease-in-out;
}

.nav__links>li:hover {
    background-color: rgba(184, 184, 184, 0.5);
}

.nav__links a {
    font-weight: lighter;
    text-decoration: none;
    color: #fafafa;
}

section[class^="post"] {
    position: relative;
    width: 100%;
    display: flex;
    cursor: pointer;
}

section[class^="post"]:not([class^="post-5"]):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: inherit;
    opacity: 0;
    transition: opacity .5ms ease-in-out;
}

section[class^="post"]:not([class^="post-5"]):hover:after {
    opacity: 0.3;
}

section[class^="post"]:not([class^="post-5"]):hover{

}

section[class^="post"] figure {
    width: 50%;
}

.post_content {
    padding: 1em 0.5em;
    display: flex;
    width: 50%;
    flex-direction: row;
}

.post_content-text {
    padding: 0.5em;
}

.post_content h2 {
    font-size: 1.7em;
    font-weight: lighter;
    margin: 0.1em 0 0.5em;
}

.post_content p {
    font-size: 0.9em;
    line-height: 1.7em;
}

.post_content-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-day {
    font-size: 2em;
}

.date-month {
    font-size: 1em;
}

section[class^="post"]:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

section[class^="post"]:nth-child(even) .post_content {
    flex-direction: row-reverse;
}

section[class^="post"]:last-child{
    color: #fafafa;
    padding: 4em 1em 2em;
    background-image: url("../img/post5.jpg");
    background-size: cover;
}

section[class^="post"]:last-child .post_content  {
    width: 100%;
}

.aside{
    width: 22%;
}

.news {
    background: #fafafa;
    margin-bottom: 2em;
}

.news_content {
    padding: 1em;
}

.news_content a {
    display: inline-block;
    margin-top: 1em;
    border: 2px solid var(--text--color);
    padding: 0.5em 1em;
    text-decoration: none;
    color: var(--text--color);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.news_content a:hover {
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.news img{
    display: block;
    width: 100%;
}


main {
    display: flex;
    justify-content: space-between;
}

.posts {
    width: 75%;
}

@media only screen and (max-width: 768px) {

    section[class^="post"] figure {
        width: 100%;
    }

    .post_content {
        width: 100%;
    }

    section[class^="post"] {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    section[class^="post"]:nth-child(even) {
        flex-direction: column;
        text-align: left;
    }

    section[class^="post"]:nth-child(even) .post_content {
        flex-direction: column;
    }

    .post_content {
        flex-direction: column;
        align-items: center;
    }

    .posts {
        width: 65%;
    }

    .aside {
        width: 33%;
    }

    .main-header {
        flex-direction: column-reverse;
        height: 10em;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer p {
        display: inline-block;
    }
}

@media only screen and (max-width: 480px) {
    main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .posts {
        width: 100%;
    }
    .aside {
        width: 100%;
    }

    .main-header {
        flex-direction: column-reverse;
        height: 10em;
    }

}







