$bodyBackground: #fff;
$headTextColor: #2c303c;
$headImage: '../img/m-h-day.jpg';
$mainTextColor: #2c303c;
$cardParagraphColor: #a8b9b9;
$cardBackground: #22232e;
$btnColor: #689901;
$textHighlightColor: #15a0c7;
$gradientStartColor: #679802;
$gradientEndColor: #2d5adb;

