$bodyBackground: #22232e;
$headTextColor: #fff;
$headImage: '../img/m-h-night.jpg';
$mainTextColor: #fff;
$cardParagraphColor: #c3c7c9;
$cardBackground: #3c3f50;
$btnColor: #e3ab00;
$textHighlightColor: #ff4e32;
$gradientStartColor: #e2aa01;
$gradientEndColor: #922b53;
